<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 启动组件扫描 -->
	<!-- 该注解除了会注入自定义的Controller, Service, Repository, Configuration, Bean等bean外， 还会注入: -->
	<!-- org.springframework.context.annotation.internalConfigurationAnnotationProcessor -->
	<!-- org.springframework.context.annotation.internalAutowiredAnnotationProcessor -->
	<!-- org.springframework.context.annotation.internalCommonAnnotationProcessor -->
	<!-- org.springframework.context.annotation.internalPersistenceAnnotationProcessor -->
	<!-- org.springframework.context.event.internalEventListenerProcessor -->
	<!-- org.springframework.context.event.internalEventListenerFactory -->
	<context:component-scan base-package="com.nnniu.shiro.ch12"></context:component-scan>
	
	<!-- 配置spring事务 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 开启事务注解 -->
	<!-- 该注解会注入beans: -->
	<!-- org.springframework.transaction.config.internalTransactionalEventListenerFactory -->
	<!-- org.springframework.aop.config.internalAutoProxyCreator -->
	<!-- org.springframework.transaction.annotation.AnnotationTransactionAttributeSource#0 -->
	<!-- org.springframework.transaction.interceptor.TransactionInterceptor#0 -->
	<!-- org.springframework.transaction.config.internalTransactionAdvisor -->
	<tx:annotation-driven transaction-manager="transactionManager" />
       
</beans>