<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd">
		
		<!-- 配置数据源c3p0 -->
		<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
			<property name="driverClass" value="com.mysql.cj.jdbc.Driver"></property>
			<property name="jdbcUrl" value="jdbc:mysql://192.168.1.29:3306/shiro?useSSL=false"></property>
			<property name="user" value="root"></property>
			<property name="password" value="123456"></property>
		</bean>
		
		<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
			<property name="dataSource" ref="dataSource"></property>
			<property name="configLocation" value="/WEB-INF/config/hibernate.cfg.xml"></property>
			<property name="mappingLocations" value="classpath:com/nnniu/shiro/ch12/entity/hbm/*.hbm.xml"></property>
		</bean>
		
</beans>