<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 启动组件扫描 -->
	<!-- 该注解除了会注入自定义的Controller, Service, Repository, Configuration, Bean等bean外， 还会注入: -->
	<!-- org.springframework.context.annotation.internalConfigurationAnnotationProcessor -->
	<!-- org.springframework.context.annotation.internalAutowiredAnnotationProcessor -->
	<!-- org.springframework.context.annotation.internalCommonAnnotationProcessor -->
	<!-- org.springframework.context.annotation.internalPersistenceAnnotationProcessor -->
	<!-- org.springframework.context.event.internalEventListenerProcessor -->
	<!-- org.springframework.context.event.internalEventListenerFactory -->
	<context:component-scan base-package="com.nnniu.shiro.ch12.service,com.nnniu.shiro.ch12.dao"></context:component-scan>
	
	<!-- 配置spring事务 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 开启事务注解 -->
	<!-- 该注解会注入beans: -->
	<!-- org.springframework.transaction.config.internalTransactionalEventListenerFactory -->
	<!-- org.springframework.aop.config.internalAutoProxyCreator -->
	<!-- org.springframework.transaction.annotation.AnnotationTransactionAttributeSource#0 -->
	<!-- org.springframework.transaction.interceptor.TransactionInterceptor#0 -->
	<!-- org.springframework.transaction.config.internalTransactionAdvisor -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- 配置数据源c3p0 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.cj.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://192.168.1.29:3306/shiro?useSSL=false"></property>
		<property name="user" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
		
	<!-- 配置hibernate -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="/WEB-INF/config/hibernate.cfg.xml"></property>
		<property name="mappingLocations" value="classpath:com/nnniu/shiro/ch12/entity/hbm/*.hbm.xml"></property>
	</bean>
		
</beans>