<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:mysql://125.46.31.185:3306/shiro</property>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.pool_size">0</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- 隔离级别 -->
		<!-- <property name="hibernate.connection.isolation">8</property> -->
		<!-- 二级缓存 -->
		<!-- <property name="hibernate.cache.region.factory_class">com.nnniu.bh.ch8.MyRegionFactoryImpl</property> -->
		
		<!-- "Import" the mapping resources here -->
		<mapping resource="com/nnniu/shiro/ch2/entity/hbm/User.hbm.xml" />
		<mapping resource="com/nnniu/shiro/ch2/entity/hbm/Role.hbm.xml" />
		<mapping resource="com/nnniu/shiro/ch2/entity/hbm/Permission.hbm.xml" />
	</session-factory>
</hibernate-configuration>