<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>sia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
    <filter-name>SpringUTF8Encoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SpringUTF8Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>ProcessTime</filter-name>
    <filter-class>com.nnniu.common.web.ProcessTimeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ProcessTime</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.nnniu.springtest.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  <!-- alipay test -->
  <servlet>
    <servlet-name>AlipayTestServlet</servlet-name>
    <servlet-class>com.nnniu.alipaytest.AlipayTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlipayTestServlet</servlet-name>
    <url-pattern>/apiPay/alipaytest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AlipayTestNotifyServlet</servlet-name>
    <servlet-class>com.nnniu.alipaytest.AlipayTestNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlipayTestNotifyServlet</servlet-name>
    <url-pattern>/apiPay/alipayNotify</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AlipayTestRefundServlet</servlet-name>
    <servlet-class>com.nnniu.alipaytest.AlipayTestRefundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlipayTestRefundServlet</servlet-name>
    <url-pattern>/apiPay/alipayRefund</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AlipayTestTransServlet</servlet-name>
    <servlet-class>com.nnniu.alipaytest.AlipayTestTransServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlipayTestTransServlet</servlet-name>
    <url-pattern>/apiPay/alipayTrans</url-pattern>
  </servlet-mapping>
  
  <!-- wxpay test -->
  <servlet>
    <servlet-name>WXpayTestServlet</servlet-name>
    <servlet-class>com.nnniu.wxpaytest.WXpayTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WXpayTestServlet</servlet-name>
    <url-pattern>/apiPay/wxpaytest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>WXpayTestNotifyServlet</servlet-name>
    <servlet-class>com.nnniu.wxpaytest.WXpayTestNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WXpayTestNotifyServlet</servlet-name>
    <url-pattern>/apiPay/wxpayNotify</url-pattern>
  </servlet-mapping>
  
  <!-- Beginning Spring Demo -->
  <servlet>
    <servlet-name>JavaConfigDemo</servlet-name>
    <servlet-class>com.nnniu.bs.ch2.JavaConfigDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JavaConfigDemo</servlet-name>
    <url-pattern>/bs/ch2/JavaConfigDemo</url-pattern>
  </servlet-mapping>
  
</web-app>